# Qui ho messo alcune librerie utili utilizzate durante il corso.
# Se si nota che alcune non sono necessarie, si potrebbero rimuovere
# in modo da evitare conflitti o problemi futuri.
# Per ogni roba ho fatto un commento per evitare di dimenticarmi cosa fa chi.
# Inoltre ho messo una emoji per indicare se è raccomandato o meno.

# ✅ per gestire variabili d'ambiente (generalmente API keys o opzioni)
dotenv

# 🟡 per fare richieste HTTP
requests
# 🟡 per fare scraping di pagine web
bs4

# ✅ per fare una UI web semplice con input e output
gradio

# 🟡 per fare in modo di ottenere dati validati e strutturati
pydantic

# ❌ per l'elaborazione del linguaggio naturale in locale (https://huggingface.co/learn/llm-course/chapter1/3?fw=pt)
transformers
# ❌ per interagire con l'API di OpenAI e di altri (basta cambiare il baseurl)
openai
# ❌ per fare chiamate a modelli indipendentemente dal modello specifico (astrae meglio rispetto a openai)
langchain
# ✅ per costruire agenti (ovvero modelli che possono fare più cose tramite tool) https://github.com/agno-agi/agno
# altamente consigliata dato che ha anche tools integrati per fare scraping, calcoli e molto altro
agno
